h1 {
    font-size: 65px;
    color: rgba(221, 131, 14, 0.897);
    font-family: sans-serif;
}

ul {
    background-color: chartreuse;
}

.class1 {
    background-color: darkblue;
}

p {
    font-weight: 400;
    font-size: 3em;
}

body {
    font-size: 16px;
}

li {
    font-style: italic;
    line-height: 35px;
    text-align: center;
    text-decoration: underline;
}

#id1 {
    background-color: rgb(155, 33, 118);
}

#id2 {
    background-color: rgb(189, 7, 7);
}

#id3 {
    background-color: salmon;
}